.leaflet-container {
  height: 100vh;
  width: 100wh;
}

.marker-component-icon {
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.marker-component-icon:after {
  display: block;
  width: 20px;
  height: 20px;
  content: "🏥";
  font-size: 20px;
}
.leaflet-popup-content-wrapper h1 {
  font-size: 2.5vh;
}
.leaflet-popup-content-wrapper h2 {
  font-size: 2vh;
}
.leaflet-popup-content-wrapper h3 {
  font-size: 1.9vh;
}
.leaflet-popup-content-wrapper h4 {
  font-size: 1.8vh;
}
.leaflet-popup-content {
  min-width: 22rem;
  text-align: center;
}

@media only screen and (max-width: 1081px) {
  .leaflet-popup-content-wrapper h1 {
    font-size: 2vh;
  }
  .leaflet-popup-content-wrapper h2 {
    font-size: 1.5vh;
  }
  .leaflet-popup-content-wrapper h3 {
    font-size: 1.4vh;
  }
  .leaflet-popup-content-wrapper h4 {
    font-size: 1.3vh;
  }
  .leaflet-popup-content {
    min-width: 14rem;
  }
}
.sr-only {
  display: none;
}
