.leaflet-container {
  height: 100vh;
  width: 100wh;
}

.marker-component-icon {
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.marker-component-icon:after {
  display: block;
  width: 20px;
  height: 20px;
  content: "🏠";
  font-size: 20px;
}